extends ./commons/layaout.pug


block conteiner
    section(class="row")
        div(class="col-6 offset-3")
            div(class = 'card')
                div(class = 'card-header')
                    h1 Bienvenido #{nombre} #{aPaterno} #{aMaterno}
                div(class = 'card-body')

                    img(src= imagen_name, alt="" class='card-img-top')
                    table(class="table table-hover table-dark text-center")
                        thead
                            th
                            th 
                        tbody
                            tr
                                td Nombre
                                td #{nombre}
                            tr
                                td Apellido Paterno
                                td #{aPaterno}
                            tr
                                td Apellido Materno
                                td #{aMaterno}
                            tr
                                td Fecha de Nacimiento
                                td #{fNacimiento}
                            tr
                                td Telefono
                                td #{telefono}
                            tr
                                td correo
                                td #{correo}
                            tr
                                td sexo
                                #Sexo
                                if sexo == 'M'
                                    td Masculino
                                else
                                    td Femenino
                            tr
                                td Direccion
                                td #{calle} #{numero} CP: #{cp}
                            tr
                                td Lugar
                                td #{ciudad}, #{estado}
                            tr
                                td #[button(class="btn btn-primari") Editar]
                            
                            