extends ./layaoutRoot.pug


block conteiner

    article(class = 'row')
        div(class = 'col-6 offset-3')
            div(class = 'card')
                div(class='card-header text-center')
                    h1 Nuevo Hotel
                div(class ='card-body')               
                    form(action="/root/hoteles/Agregar/Nuevo", method="post" enctype="multipart/form-data")
                        div(class = 'form-group')
                            input(value = bandera style="visibility:hidden" name = 'bandera')
                            input(value = idHotel style="visibility:hidden" name = 'idHotel')
                            input(value = idHabitacion style="visibility:hidden" name = 'idHotel')
                            input(type="text" placeholder='Cadena' name='nombreCadena' class='form-control' required value= nombreCadena)
                            input(type="text" placeholder='Hotel' name='nombreHotel' class='form-control' required value= nombreHotel)
                            input(type="text" placeholder='Calle' name='calle' class='form-control' required value= calle)
                            input(type="number" placeholder='Numero' name='numero' class='form-control' required value= numero)
                            input(type="text" placeholder='Estado' name='estado' class='form-control' required value= estado)
                            input(type="text" placeholder='Ciudad' name='ciudad' class='form-control' required value = ciudad)
                            label(for="estrellas") Estrellas
                            select(name="estrellas" class='form-control' required id='selectEstrellas' )
                                option(value="") 
                                option(value="1") 1 estrella
                                option(value="2") 2 estrellas
                                option(value="3") 3 estrellas
                                option(value="4") 4 estrellas
                                option(value="5") 5 estrellas
                            input(type="file" class="form-control-file border" required name='uploadImage' value= imagen_nameHotel)
                            div(class='card')
                                div(class='card-body')
                                    img(src= imagen_nameHotel, alt="" class='card-img-top')
                                div(class='card-footer')
                                    p #{mensajeHotel}
                            div(class = 'text-center card-title mt-3 mb-3')
                                h2 Habitación
                            label(for="habCapacidad") Capacidad
                            select(name="habCapacidad" class='form-control' required id='habCapacidad' )
                                option(value="") 
                                option(value="1") 1 persona
                                option(value="2") 2 personas
                                option(value="3") 3 personas
                                option(value="4") 4 personas
                                option(value="5") 5 personas
                            label(for="habCosto") Costo (MNX)                                
                            input(type="number" name="habCosto" class="form-control" min="1" step="any" required value= costo)
                            label(for="habTipo") Tipo
                            select(name="habTipo" class='form-control' required id='habTipo')
                                option(value="") 
                                option(value="se") Sencilla
                                option(value="sj") Suit Junior
                                option(value="sd") Suit Doble
                                option(value="sp") Suit Precidencial
                            input(type="file" class="form-control-file border" required name='habUploadImage' value= imagen_nameHab)
                            div(class='card')
                                div(class='card-body')
                                    img(src= imagen_nameHab, alt="" class='card-img-top')
                                div(class='card-footer')
                                    p #{mensajeHab}
                            input(type="submit", value="Agregar" class='btn btn-primary')
                            input(type="reset", value="Cancelar" class='btn btn-secundary')
    script(type='text/javascript').
        document.getElementById('selectEstrellas').value = #{estrellas};
        document.getElementById('habCapacidad').value = #{capacidad};
        document.getElementById('habTipo').value = '#{tipo}';